body.container.ng-scope {
	margin-left: 10%;
	margin-right: 10%;
  width: 80%;
	text-align: center;
}


div.col-lg-2 {
  width: 15%;
}

div#video-section.col-lg-7 {
  width: 65%;
}

div.col-lg-3 {
  width: 20%;
}

button {
		
}

/*map, div[map] {display:block; width: 400px; height: 500px}
*/




.angular-google-map-container { height: 400px; }