body {
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
}

button {
		
}

map, div[map] {display:block; width: 400px; height: 500px}

#video-section {
	height: 500px;
	width: 540px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}